@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('spinner.css');
@import url('variables.css');

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	/* setting fontSize to 10px; */
	font-size: 62.5%;
	font-family: 'Noto Sans JP', sans-serif;
}

body {
	box-sizing: border-box;
}

.content__center {
	max-width: 62rem;
	width: 100%;
	margin: 0 auto;
	margin-top: 2rem;
	font-size: 2rem;
	padding: 2rem;
}

.shadow-light {
	box-shadow: var(--shadow);
}

.shadow-light-hover {
	box-shadow: var(--shadow-hover);
}

.hidden {
	transition: opacity 0.5s;
	opacity: 0;

	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-ms-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
}

.icon {
	width: 10rem;
	height: 10rem;
}

@media (max-width: 375rem) {
	.icon {
		width: 8rem;
		height: 8rem;
	}
}

.warn {
	color: red;
	font-size: 1.6rem;
}

.close {
	background-image: url('/close.svg');
	background-repeat: no-repeat;
	background-size: cover;
	width: 2rem;
	height: 2rem;
	cursor: pointer;
	animation: fadeIn 0.3s ease-in 0.5s normal;
	transition: opacity 0.2s ease-in-out 0.7s;
	-webkit-transition: opacity 0.2s ease-in-out 0.7s;
	-moz-transition: opacity 0.2s ease-in-out 0.7s;
	-ms-transition: opacity 0.2s ease-in-out 0.7s;
	-o-transition: opacity 0.2s ease-in-out 0.7s;

	/* -webkit-animation: fadeIn 0.3s ease-in-out 0.5s normal; */
}

.temp {
	color: var(--color-primary);
}

.description {
	font-size: 1.5rem;

	color: var(--color-primary-light);
}

.subTitle {
	text-align: center;
	margin-top: 4rem;
	font-size: 1.8rem;
	color: #889696;
}

.cur__Forecast--overview {
	border-radius: var(--border-rounded-sm);
	box-shadow: var(--shadow);
	padding: 2rem 4rem;
	min-height: var(--minHeight);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;

	animation: fadeIn 0.3s ease-in-out forwards;
	transition: all 0.3s ease-in-out;
	-webkit-border-radius: var(--border-rounded-sm);
	-moz-border-radius: var(--border-rounded-sm);
	-ms-border-radius: var(--border-rounded-sm);
	-o-border-radius: var(--border-rounded-sm);
}

@media (max-width: 665px) {
	.cur__Forecast--overview {
		padding: 1.8rem 3rem;
	}
}

@media (max-width: 375px) {
	.cur__Forecast--overview {
		padding: 1.5rem 2rem;
	}
}

.cur__Forecast--overview:hover {
	transform: translateY(-0.15rem);
	box-shadow: var(--shadow-hover);
	-webkit-transform: translateY(-0.15rem);
	-moz-transform: translateY(-0.15rem);
	-ms-transform: translateY(-0.15rem);
	-o-transform: translateY(-0.15rem);
}

.card__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	opacity: 1;
	transition: all 3s;
	-webkit-transition: all 3s;
	-moz-transition: all 3s;
	-ms-transition: all 3s;
	-o-transition: all 3s;
}

.cur__detail-icon {
	width: 100%;
	display: flex;
	align-items: center;
	padding: 4rem 0;
	justify-content: space-around;
}

.cur__detail-temp {
	color: var(--color-primary);
	font-size: 5rem;
	font-weight: bold;
}

@media (max-width: 665px) {
	.cur__detail-icon {
		justify-content: space-between;
	}
	.cur__detail-temp {
		font-size: 4rem;
	}
}

@media (max-width: 375px) {
	.cur__detail-temp {
		font-size: 3rem;
	}

	.cur__detail-icon {
		padding: 2.5rem 0;
	}
}

.maxmin--temp {
	color: rgb(134, 134, 134);
	font-size: 1.5rem;
	margin-top: 0.6rem;
}

.clear__btn {
	padding: 0.4rem;
	outline: none;
	border: none;
	color: #fff;
	background-color: var(--btn-clear);
	cursor: pointer;
	border-radius: 0.22rem;
	margin: 1.4rem;
	transition: all 0.3s ease-in-out;
}

.clear__btn:hover {
	/* transition: transform 0.3s ease-in-out; */
	transform: translateY(-0.4rem);
}

.list__card {
	box-shadow: var(--shadow);
	padding: 1.2rem 1rem;
	border-radius: var(--border-rounded-sm);
	margin-bottom: 4rem;
	/* transition: var(--cardTransition); */
	animation: fadeIn 0.3s ease-in-out forwards;
	transition: all 0.3s ease-in-out;
}

@media (max-width: 475px) {
	.list__card {
		padding: 1rem;
	}
}

.list__card:hover {
	transform: translateY(-0.15rem);
	box-shadow: var(--shadow-hover);
	-webkit-transform: translateY(-0.15rem);
	-moz-transform: translateY(-0.15rem);
	-ms-transform: translateY(-0.15rem);
	-o-transform: translateY(-0.15rem);
}

.list__card > h2 {
	font-size: 1.8rem;
	font-weight: bold;
}
.list__card > span {
	font-size: 1.8rem;
	font-weight: bold;
}

.list__card--dateAndTime {
	display: block;
	text-align: center;
	font-size: 2rem;
}

@media (max-width: 475px) {
	.list__card--dateAndTime {
		font-size: 1.5rem;
	}
}

.list__card--specs {
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-size: 1.5rem;
	padding: 1.3rem 0;
}

@media (max-width: 440px) {
	.list__card--specs {
		justify-content: space-between;
	}
}

.list__specs--left {
	display: flex;
	align-items: center;
}

.list__specs--right {
	font-size: 3rem;
}

@media (max-width: 400px) {
	.list__specs--right {
		font-size: 2.5rem;
	}
}

.list__descContainer {
	display: flex;
	flex-direction: column;
	margin-left: 1.2rem;
}

.list__card--icon {
	width: 6rem;
	height: 6rem;
}

/* @media(max-width:) */

.icon__small {
	width: 6rem;
	height: 6rem;
}

.hide {
	display: none;
}

.hidden {
	height: 0;
	opacity: 0;
}

.tab__detail {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1.4rem 0 2.5rem 0;
	animation: fadeIn 0.5s ease-in-out forwards;

	-webkit-animation: fadeIn 0.5s ease-in-out forwards;
}

.tab__title {
	font-size: 2.4rem;
}

.tab__icon {
	margin-left: 2rem;
	width: 2rem;
	height: 2rem;
}

.fadeIn {
	animation: fadeIn 0.5s ease-in-out forwards;
	-webkit-animation: fadeIn 0.5s ease-in-out forwards;
}

.fadeOut {
	animation: fadeOut ease 3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	-webkit-animation: fadeOut ease 3s;
}

.detailed__forecast-view {
	transition: all 1s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	-o-transition: all 1s;
}

.search {
	width: 100%;
	display: flex;
	flex-direction: column;
	transition: all 0.5s;
}

.detailed__forecast--cur {
	border-radius: var(--border-rounded-sm);
	box-shadow: var(--shadow);
	padding: 2rem 4rem;
	min-height: var(--minHeight);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/*transition: all 10s;
	*/
	transition: var(--cardTransition);
	-webkit-border-radius: var(--border-rounded-sm);
	-moz-border-radius: var(--border-rounded-sm);
	-ms-border-radius: var(--border-rounded-sm);
	-o-border-radius: var(--border-rounded-sm);
	-webkit-transition: var(--cardTransition);
	-moz-transition: var(--cardTransition);
	-ms-transition: var(--cardTransition);
	-o-transition: var(--cardTransition);
}

.detailed__forecast--cur:hover {
	transition: transform 0.3s ease-in-out;
	transform: translateY(-0.4rem);
	box-shadow: var(--shadow-hover);
	-webkit-transform: translateY(-0.4rem);
	-moz-transform: translateY(-0.4rem);
	-ms-transform: translateY(-0.4rem);
	-o-transform: translateY(-0.4rem);
	-webkit-transition: transform 0.3s ease-in-out;
	-moz-transition: transform 0.3s ease-in-out;
	-ms-transition: transform 0.3s ease-in-out;
	-o-transition: transform 0.3s ease-in-out;
}

@media (max-width: 375px) {
	.detailed__forecast--cur {
		padding: 2rem 2rem;
	}
}

.detailed__forecast--list {
	display: flex;
	flex-direction: column;
	margin-top: 5rem;
	padding: 0 3rem;
}

@media (max-width: 475px) {
	.detailed__forecast--list {
		padding: 2rem;
	}
}

@media (max-width: 400px) {
	.detailed__forecast--list {
		padding: 0 1.5rem;
	}
}

.detailed__forecast--list .spinner {
	align-self: center;
}

.others {
	margin-top: 5rem;
	min-height: var(--minHeight);
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
}

.other__title {
	font-size: 1.8rem;
	font-weight: bold;
}

.other__title > img {
	margin-right: 0.8rem;
	width: 2rem;
	height: 2rem;
}
.add__city {
	width: 5rem;
	height: 5rem;
	cursor: pointer;
	/* box-shadow: var(--shadow-dark); */
}

.form {
	display: flex;
	flex-direction: column;
}

.form__input {
	width: 100%;
	padding: 0.2rem;
	font-size: 2rem;

	border: none;
	outline: 0;
}

.form__input:not(:placeholder-shown) {
	background-color: #4bb8b2;
}

.input__progress {
	border-bottom: 4px solid var(--color-primary-light);
	padding: 2.5px 0;
}

.search__results {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 3rem;
	margin-top: 4rem;
}

@media (max-width: 400px) {
	.search__results {
		padding: 1.2rem;
	}
}

.search__list {
	animation: fadeIn 0.3s ease-in-out forwards;
	align-self: stretch;
	list-style-type: none;
	text-align: center;
	color: var(--color-primary);
	font-size: 2rem;
	padding: 4rem 2rem;
	cursor: pointer;
	opacity: 1;
	box-shadow: var(--shadow);
	margin-bottom: 4rem;
	border-radius: var(--border-rounded-sm);
	transition: opacity 2s ease-in, var(--cardTransition);
	/*transition: var(--cardTransition);
	*/
	-webkit-border-radius: var(--border-rounded-sm);
	-moz-border-radius: var(--border-rounded-sm);
	-ms-border-radius: var(--border-rounded-sm);
	-o-border-radius: var(--border-rounded-sm);
	/* -webkit-transition: opacity 2s ease-in, var(--cardTransition);
	-moz-transition: opacity 2s ease-in, var(--cardTransition);
	-ms-transition: opacity 2s ease-in, var(--cardTransition);
	-o-transition: opacity 2s ease-in, var(--cardTransition); */
}

.history__list {
	cursor: pointer;
}

.search__list:hover {
	transition: transform 0.3s ease-in-out;
	transform: translateY(-0.4rem);
	box-shadow: var(--shadow-hover);
	-webkit-transform: translateY(-0.4rem);
	-moz-transform: translateY(-0.4rem);
	-ms-transform: translateY(-0.4rem);
	-o-transform: translateY(-0.4rem);
	-webkit-transition: transform 0.3s ease-in-out;
	-moz-transition: transform 0.3s ease-in-out;
	-ms-transition: transform 0.3s ease-in-out;
	-o-transition: transform 0.3s ease-in-out;
}

.searched__citiesHistory--container {
	width: 100%;
	margin: 4rem 0;
	padding: 0 3rem;
	text-align: center;
	display: flex;
	flex-direction: column;
}

@media (max-width: 400px) {
	.searched__citiesHistory--container {
		padding: 0 1.2rem;
	}
}

.searched__citiesHistory--container .spinner {
	align-self: center;
}

.searched__list {
	width: 100%;
	align-self: stretch;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0.8rem 1.2rem;
	box-shadow: var(--shadow);
}

.searched__listTemp--container {
	display: flex;
	justify-content: space-around;
}

.searched__items > h2 {
	text-align: center;
}

/*----------- Fade in ----------------*/

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/*----------- Fade Out ----------------*/
@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@media (max-width: 475px) {
	.cur__detail-name {
		font-size: 2rem;
	}
}
